#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}
<div class="ui two column middle aligned grid basic segment">
    <div class="column">
        <h3>About</h3>
        <p>
            WeatherTop Inc. produce a modular weather station called the WeatherTop1000.
            This low-cost device takes a set of meteorological readings and displays
            these on a simple LCD display. This application performs calculations on the
            data and provides an easy to read display of all recorded information.
            Members of the app are also able to add and delete, as many stations
            and readings as they like.
        </p>
    </div>
    <div class="column">
        <div class="ui rounded images">
            <img class="ui medium image" src="public/images/about4.jpg">
            <img class="ui small image" src="public/images/about5.jpg">
            <img class="ui medium image" src="public/images/about1.jpg">
            <img class="ui small image" src="public/images/about3.png">
        </div>
    </div>
</div>
#{footer id:"start"/}